!!! 5
%html
  %head
    %title Children Supervisor
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render 'layouts/navbar'

    - if parent_signed_in?
      .container
        .text-center
          - flash.each do |name, msg|
            = content_tag :div, msg, class: "alert"
        = yield
    - else
      .main-page-bg
        .container
          .text-center
            - flash.each do |name, msg|
              = content_tag :div, msg, class: "alert"
          = yield
